/* RecipeDetail.css */

body {
    background-color: #f8e5a1;
    margin: 0;
    padding: 0;
}

.recipe-detail-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.recipe-detail .banner {
    width: 100%;
    height: 120px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    top: -20px;
    margin-bottom: 50px;
    /*margin-top: -20px;*/
}

.recipe-detail .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-detail {
    background-color: #f8e5a1;
    padding: 40px;
    max-width: 1000px;
    /*margin: 50px auto 50px;*/
    margin: 15px auto 50px;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.recipe-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}

.recipe-description {
    flex: 1;
    text-align: left;
    color: #333;
}

.recipe-description h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recipe-description p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
}

.recipe-detail-image {
    width: 400px; /* Larger image for broader layout */
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .recipe-content {
        flex-direction: column;
        align-items: center;
    }

    .recipe-detail-image {
        width: 100%;
        max-width: 300px;
    }
}
